@import "tailwindcss";

@theme {
  --color-background: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-200);
  --color-text: var(--color-neutral-700);
  --color-text-soft: var(--color-neutral-500);
  --color-border: var(--color-neutral-300);
  --color-foreground: #ffffff;
}

@layer base {
  button {
    cursor: pointer;
  }

  svg {
    fill: currentColor;
  }

  input {
    outline: none;
  }
}

@layer utilities {
  .pos-area-bottom { position-area: bottom; }
  .pos-area-top { position-area: top; }
  .pos-area-left { position-area: left; }
  .pos-area-right { position-area: right; }
  .pos-area-center { position-area: center; }
  
  .pos-area-bottom-span-right { position-area: bottom span-right; }
  .pos-area-bottom-span-left { position-area: bottom span-left; }
  .pos-area-top-span-right { position-area: top span-right; }
  .pos-area-top-span-left { position-area: top span-left; }
  
  .pos-area-block-end { position-area: block-end; }
  .pos-area-inline-start { position-area: inline-start; }

  .no-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@layer components {}